.container {
    padding:0.5rem;
}

.row { 
    justify-content: center;
    box-sizing: border-box; 
    display: flex; 
    flex: 0 1 auto; 
    flex-flow: row wrap;
}

.col{
    box-sizing:border-box;
    padding: 0.5rem;
}

.col-1-1{width:100%;}
.col-1-2{width:50%;}
.col-1-3{width:33.33%;}
.col-2-3{width:66.67%;}
.col-1-4{width:25%;}
.col-3-4{width:75%;}
.col-1-5{width:20%;}
.col-2-5{width:40%;}
.col-3-5{width:60%;}    
.col-4-5{width:80%;}


@media (min-width:576px){
    .container{padding:1.25rem;}
    .col{padding:0.75rem;}
    .col-sm-1-1{width:100%;}
    .col-sm-1-2{width:50%;}
    .col-sm-1-3{width:33.33%;}
    .col-sm-2-3{width:66.67%;}
    .col-sm-1-4{width:25%;}
    .col-sm-3-4{width:75%;}
    .col-sm-1-5{width:20%;}
    .col-sm-2-5{width:40%;}
    .col-sm-3-5{width:60%;}    
    .col-sm-4-5{width:80%;}
}

@media (min-width:768px){
    .col-md-1-1{width:100%;}
    .col-md-1-2{width:50%;}
    .col-md-1-3{width:33.33%;}
    .col-md-2-3{width:66.67%;}
    .col-md-1-4{width:25%;}
    .col-md-3-4{width:75%;} 
    .col-md-1-5{width:20%;}
    .col-md-2-5{width:40%;}
    .col-md-3-5{width:60%;}    
    .col-md-4-5{width:80%;}
    .col-md-1-6{width:16.67%;}
    .col-md-5-6{width:83.33%;}
}
@media (min-width:960px){
    .col-lg-1-1{width:100%;}
    .col-lg-1-2{width:50%;}
    .col-lg-1-3{width:33.33%;}
    .col-lg-2-3{width:66.67%;}
    .col-lg-1-4{width:25%;}
    .col-lg-3-4{width:75%;}    
    .col-lg-1-5{width:20%;}
    .col-lg-2-5{width:40%;}
    .col-lg-3-5{width:60%;}    
    .col-lg-4-5{width:80%;}
    .col-lg-1-8{width:12.5%;}
    .col-lg-7-8{width:87.5%;}
}
