<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PALMYRA PLLC</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/css/normalize.css">
        <link rel="stylesheet" type="text/css" href="/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">  
        <link rel="icon" type="image/png" href="/squareicon.png">
    </head>
    <body> 
        <div class="container">
            <div class="row">
              <div class="col col-1-1 col-md-1-2 logo"> 
                <a href="/"><img src="/images/200829_logo.png" alt="Palmyra logo"></a>
              </div>
              <div class="col col-1-1 col-md-1-2 menu"> 
                <a id="practice" class="menu-item" href="/practice">About</a>
                <a id="projects" class="menu-item" href="/projects">Work</a>
                <a id="news" class="menu-item" href="/news">News</a>
              </div>
              <div class="divider"></div>
            </div>
        <script>
            document.getElementById(window.location.href.split('/').pop()).style.color='#888';
        </script>
{{content}}
        </div>        
    </body>

</html>