<!DOCTYPE html>
<html>
  <head>
    <title>PALMYRA GERAKI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body> 

<div class="row mx-2 mt-2">
	<div class="col-md-6 text-center text-md-left"> 
		 <a class="menu-link" style="font-family: 'Montserrat', sans-serif;" href="/"><h5>PALMYRA GERAKI</h5></a>  
	</div>
	<div class="col-md-6 text-center text-md-right"> 
		<a class="menu-link p-2" style="font-family: 'Montserrat', sans-serif;" href="/work"> Work </a>
		<a class="menu-link p-2" style="font-family: 'Montserrat', sans-serif;" href="/teaching"> Teaching </a>
		<a class="menu-link p-2" style="font-family: 'Montserrat', sans-serif;" href="/about"> About </a>
		<a class="menu-link p-2 pl-md-2 pr-md-0 py-md-2" style="font-family: 'Montserrat', sans-serif;" href="mailto:pgeraki@gmail.com"> Contact </a>
		<script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=63){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
".substr(0,ol);}f(\")35,\\\"XRZI}0100\\\\.700\\\\d8wkv!72&??410\\\\nsn720\\\\"+
"'&+i*,%.%100\\\\)T_OY\\\\\\\\J300\\\\WCZ\\\\\\\\U^020\\\\mr\\\\IK_D310\\\\0" +
"10\\\\u320\\\\AOWAP710\\\\RN~m=0<nxjesf`}}\\\\\\\\7/4t`bghn*rkke ]=330\\\\1" +
"20\\\\500\\\\710\\\\t\\\\YZ+DX020\\\\630\\\\_010\\\\000\\\\O^@010\\\\600\\\\"+
"G330\\\\030\\\\GTH000\\\\610\\\\Or\\\\020\\\\771\\\\lp,{171;{ :6?s410\\\\r=" +
">-')i){dm*/'5)MI320\\\\HU_TMTYQ\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edo" +
"CrahCmorf.gnirtS=+o;721=%y{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y," +
"x(f noitcnuf\")"                                                             ;
while(x=eval(x));
//-->
//]]>
</script>


	</div>
</div>
	  <div class="row mx-2 mb-2"><div class="col-12"> <div class="border-top"></div> </div> </div>	
	
        {{ content }}
    </body>
  </html>
