<!DOCTYPE html>
<html>
  <head>
    <title>PALMYRA GERAKI</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body> 
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-2 mb-3 bg-white border-bottom">
	 <h5 class="my-0 mr-md-auto font-weight-normal"> 
           <a class="menu-link" style="font-family: 'Montserrat', sans-serif;" href="/">PALMYRA GERAKI</a> 
	 </h5>
	 <nav class="my-2 my-md-0 mr-md-3"> 
           <a class="menu-link p-2" style="font-family: 'Montserrat', sans-serif;" href="/work"> Work </a>
	   <a class="menu-link p-2" style="font-family: 'Montserrat', sans-serif;" href="/about"> About </a>
	   <script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=51){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
".substr(0,ol);}f(\")33,\\\"ocixrq/bpk>*)3(*700\\\\c|c430\\\\RQ^220\\\\WSXUP" +
"v\\\\\\\\_R@TW_420\\\\BXGCHE500\\\\z030\\\\BFPI000\\\\=B&zrh|k:e{u`2=7{o771" +
"\\\\~ny}fhK\\\"\\\\$9{mi320\\\\430\\\\230\\\\V610\\\\720\\\\720\\\\120\\\\T" +
")I620\\\\630\\\\010\\\\400\\\\430\\\\NO0YG130\\\\H410\\\\010\\\\410\\\\010\\"+
"\\N4.ZS730\\\\`600\\\\IJY[U520\\\\U710\\\\020\\\\130\\\\^CKYEY]700\\\\\\\\\\"+
"\\ICHQ@ME\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x(edoCrahCmorf.gnirtS=+o;72" +
"1=%y;i=+y)33==i(fi{)++i;l<i;0=i(rof;htgnel.x=l,\\\"\\\"=o,i rav{)y,x(f noit" +
"cnuf\")"                                                                     ;
while(x=eval(x));
//-->
//]]>
</script>
	 </nav>
	  </div>

        {{ content }}
    </body>
  </html>
